.name_prod{
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 15px 15px;
    font-size: 20px; 
    
}

.block_prod{
    
height: auto;
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;


      
  
}
.one_block{
    height: 280px;
    width: 280px;
    background-color: white;
    border-radius: 10px;
    margin: 30px 15px ;
}

.photo{
    height: 230px;
    width: 100%;
    border-radius: 10px;
}

.desc_ab_us{
    
}